/** Font Face "Cairo" **/
@font-face {
    font-family: 'Cairo';
    src: url('../assets/fonts/Cairo-Regular.eot');
    src: url('../assets/fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Cairo-Regular.woff2') format('woff2'),
        url('../assets/fonts/Cairo-Regular.woff') format('woff'),
        url('../assets/fonts/Cairo-Regular.ttf') format('truetype'),
        url('../assets/fonts/Cairo-Regular.svg#Cairo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/**** Global Style ****/

/** Sections **/
.section-padding{
    padding: 75px 0 120px 0;
}

.section-header {
    margin-bottom: 67px;
}

.section-header .section-header__heading{
    font-size: 50px;
    margin-bottom: 20px;
}

.section-header .section-header__title-image-container{
    width: 245px;
}

.section-header .section-header__title-image-container img{
    width: 100%;
}

/** Overlay **/
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

/** Buttons **/
.focia-btn{
    font-size: 22px;
    background-color: #c4398c;
    color: #FFF;
    border-radius: 0;
    padding: 16px 50px;
    margin-top: 15px;
}

.focia-btn:hover{
    color: #FFF;
}

body{
    font-family: 'Cairo';
    height: 50000px;
}

/**** Start Main Header ****/
.main-header__contact-nav{
    background-color: #c4398c;
    padding: 10px 0;
}

.main-header__contact-nav__contact-info .contact-link{
    font-size: 16px;
    text-align: left;
    margin-left: 52px;
}

.main-header__contact-nav__social .social-link{
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin-right: 8px;
}

.main-header__navbar .navbar-brand {
    margin: 0;
}
.main-header__navbar .navbar-brand .image-container{
    width: 280px;
}

.main-header__navbar .navbar-nav .nav-item{
    margin-right: 68px;
    font-size: 18px;
}

.main-header__navbar .navbar-nav .nav-item .nav-link.active,
.main-header__navbar .navbar-nav .nav-item .nav-link:hover{
    color: #c4398c;
}
/**** End Main Header ****/

/**** Start Main Slider ****/
.main-slider{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.main-slider .owl-carousel{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main-slider .owl-carousel .slide{
    position: relative;
    width: 100%;
    height: calc(100vh - 162px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-slider .owl-carousel .slide-1{
    background-image: url('../assets/images/backgrounds/slide-1-min.jpg');
}


.main-slider .owl-carousel .slide-2{
    background-image: url('../assets/images/backgrounds/slide-2-min.jpg');
}


.main-slider .owl-carousel .slide-3{
    background-image: url('../assets/images/backgrounds/slide-3-min.jpg');
}

.main-slider .owl-carousel .slide .slide-content{
    max-width: 650px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-slider .owl-carousel .slide .slide-content h1{
    color: #c4398c;
    font-size: 57px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-slider .owl-carousel .slide .slide-content p{
    color: #FFF;
    font-size: 16px;
}


.main-slider .owl-carousel .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 65px;
}

.main-slider .owl-carousel .owl-nav button span{
    color: #c4398c;
}


.main-slider .owl-carousel .owl-nav button.owl-next{
    left: 25px;
}

.main-slider .owl-carousel .owl-nav button.owl-prev{
    right: 25px;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
}
/**** End Main Slider ****/


/**** Start About Us ****/
.about-us__content{
    font-size: 18px;
    color: #191414;
}

.about-us__image-contanir{
    height: 450px;
    margin: 0 auto 0 0;
    overflow: hidden;
    box-shadow: 2px 5px 7px 1px rgb(0 0 0 / 70%)
}
/**** End About Us ****/

/**** Start All Items ****/
.all-items{
    background-image: url('../assets/images/backgrounds/all-kind-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.all-items .card{
    width: 90%;
}

.all-items .card img{
    height: 250px;
}

.all-items .card .card-body .card-title{
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 3px solid #c4398c;
}
.all-items .card .card-footer .focia-btn{
    font-size: 15px;
    padding: 5px 25px; 
}

.all-items .card .card-footer .price-container{
    font-size: 18px;
    font-weight: bold;
    color: #c4398c;
}

.all-items .card .card-footer .price-container .price{
    margin-right: 5px;
}
/**** End All Items ****/



/****************************** Media Query ******************************/

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 
    .main-header__navbar .navbar-brand .image-container{
        width: 280px;
    }
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .main-header__navbar .navbar-brand .image-container{
        width: 250px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .section-padding{
        padding: 60px 0;
    }
    
    .focia-btn{
        font-size: 18px;
        padding: 14px 30px;
    }

    .main-header__navbar .navbar-brand .image-container{
        width: 230px;
    }

    .main-header__navbar .navbar-nav{
        padding: 1.5rem;
    }

    .main-header__navbar .navbar-nav .nav-item{
        margin-right: 0;
        font-size: 18px;
    }

    .main-slider .owl-carousel .slide{
        height: calc(100vh - 90px);
    }
    

    .main-slider .owl-carousel .slide .slide-content{
        max-width: 450px;
    }

    .main-slider .owl-carousel .slide .slide-content h1{
        font-size: 50px;
    }
    
    .main-slider .owl-carousel .slide .slide-content p{
        color: #FFF;
        font-size: 14px;
    }
    
    .about-us__image-contanir{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .main-header__navbar .navbar-brand .image-container{
        width: 210px;
    }

    .main-slider .owl-carousel .owl-nav button.owl-next{
        left: 5px;
    }
    
    .main-slider .owl-carousel .owl-nav button.owl-prev{
        right: 5px;
    }

    .main-slider .owl-carousel .owl-nav button {
        font-size: 45px;
    }
    
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .focia-btn{
        font-size: 18px;
        padding: 12px 25px;
    }
    
    .section-padding{
        padding: 60px 0;
    }
    
    .section-header .section-header__heading{
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    .section-header .section-header__title-image-container{
        width: 200px
    }

    .main-slider .owl-carousel .slide .slide-content{
        max-width: 250px;
    }

    .main-slider .owl-carousel .slide .slide-content h1{
        font-size: 30px;
    }
    
    .main-slider .owl-carousel .slide .slide-content p{
        color: #FFF;
        font-size: 12px;
    }

    .about-us__content{
        font-size: 16px;
    }

    .about-us__image-contanir{
        height: auto;
    }
}